# Log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Rapporti diagnostici (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dati di runtime
pids
*.pid
*.seed
*.pid.lock

# Directory per librerie strumentate generate da jscoverage/JSCover
lib-cov

# Directory di copertura usata da strumenti come istanbul
coverage
*.lcov

# Copertura test di nyc
.nyc_output

# Archiviazione intermedia di Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Directory delle dipendenze di Bower (https://bower.io/)
bower_components

# Configurazione node-waf
.lock-wscript

# Addon binari compilati (https://nodejs.org/api/addons.html)
build/Release

# Directory delle dipendenze
node_modules/
jspm_packages/

# Directory delle dipendenze di Snowpack (https://snowpack.dev/)
web_modules/

# Cache di TypeScript
*.tsbuildinfo

# Directory cache opzionale di npm
.npm

# Cache opzionale di eslint
.eslintcache

# Cache opzionale di stylelint
.stylelintcache

# Cache di Microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Cronologia opzionale della REPL
.node_repl_history

# Output del comando 'npm pack'
*.tgz

# File di integrità di Yarn
.yarn-integrity

# File delle variabili d'ambiente dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Cache di parcel-bundler (https://parceljs.org/)
.cache
.parcel-cache

# Output di compilazione di Next.js
.next
out

# Output di compilazione/generazione di Nuxt.js
.nuxt
dist

# File di Gatsby
.cache/
# Decommenta la riga "public" se il tuo progetto usa Gatsby e non Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# Output di compilazione di VuePress
.vuepress/dist

# Directory temporanea e cache di VuePress v2.x
.temp
.cache

# Cache e file generati da Docusaurus
.docusaurus

# Directory di Serverless
.serverless/

# Cache di FuseBox
.fusebox/

# File locali di DynamoDB
.dynamodb/

# File di porta di TernJS
.tern-port

# Memorizza le versioni di VSCode usate per testare le estensioni di VSCode
.vscode-test

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Altri file e directory di sessione
sessions/
data.store.json
database.json
package-lock.json
